In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ecommerce-fashion-dataset/FashionDataset.csv

In [3]:
data=pd.read_csv('../input/ecommerce-fashion-dataset/FashionDataset.csv')

In [13]:
data.shape

(30758, 8)

In [35]:
data.head(10)

,Unnamed: 0,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women
5,5,kraus,wide ankle length cotton womens jeans - light ...,"Size:26,28,30,32,34",Rs\n1795,1615,10% off,Westernwear-Women
6,6,life,printed cotton blend collared womens regular d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1299,649,50% off,Westernwear-Women
7,7,fratini,embroidered wide neck polyester womens regular...,Size:XX-Large,Rs\n1299,649,50% off,Westernwear-Women
8,8,rare,floral polyester v neck womens flared dress - ...,"Size:Large,Medium,Small,X-Large",Rs\n2099,839,60% off,Westernwear-Women
9,9,rare,checks cotton boat neck womens regular top - b...,"Size:Medium,Small,X-Large",Rs\n1499,599,60% off,Westernwear-Women

In [14]:
data.info

<bound method DataFrame.info of        Unnamed: 0    BrandName  \
0               0         life
1               1         only
2               2      fratini
3               3  zink london
4               4         life
...           ...          ...
30753          21    swarovski
30754          22          Nan
30755          23       jewelz
30756          24      estelle
30757          25      estelle

                                                 Deatils  \
0      solid cotton blend collar neck womens a-line d...
1      polyester peter pan collar womens blouson dres...
2      solid polyester blend wide neck womens regular...
3      stripes polyester sweetheart neck womens dress...
4      regular fit regular length denim womens jeans ...
...                                                  ...
30753            crystal stylish womens rodhium earrings
30754                                                Nan
30755                 ethnic gold plated jhumki earrings
30756  womens gold plated double line fancy white and...
30757  womens gold plated bridge designer mangalsutra...

                                         Sizes       MRP SellPrice Discount  \
0      Size:Large,Medium,Small,X-Large,X-Small  Rs\n1699       849  50% off
1                             Size:34,36,38,40  Rs\n3499      2449  30% off
2                  Size:Large,X-Large,XX-Large  Rs\n1199       599  50% off
3              Size:Large,Medium,Small,X-Large  Rs\n2299      1379  40% off
4                       Size:26,28,30,32,34,36  Rs\n1699       849  50% off
...                                        ...       ...       ...      ...
30753                                      Nan       Nan      8950      Nan
30754                                      Nan       Nan       Nan      Nan
30755                                      Nan  Rs\n1839       643  65% off
30756                                      Nan       Nan      2799      Nan
30757                                      Nan       Nan      1899      Nan

                Category
0      Westernwear-Women
1      Westernwear-Women
2      Westernwear-Women
3      Westernwear-Women
4      Westernwear-Women
...                  ...
30753    Jewellery-Women
30754    Jewellery-Women
30755    Jewellery-Women
30756    Jewellery-Women
30757    Jewellery-Women

[30758 rows x 8 columns]>

In [15]:
data.describe

<bound method NDFrame.describe of        Unnamed: 0    BrandName  \
0               0         life
1               1         only
2               2      fratini
3               3  zink london
4               4         life
...           ...          ...
30753          21    swarovski
30754          22          Nan
30755          23       jewelz
30756          24      estelle
30757          25      estelle

                                                 Deatils  \
0      solid cotton blend collar neck womens a-line d...
1      polyester peter pan collar womens blouson dres...
2      solid polyester blend wide neck womens regular...
3      stripes polyester sweetheart neck womens dress...
4      regular fit regular length denim womens jeans ...
...                                                  ...
30753            crystal stylish womens rodhium earrings
30754                                                Nan
30755                 ethnic gold plated jhumki earrings
30756  womens gold plated double line fancy white and...
30757  womens gold plated bridge designer mangalsutra...

                                         Sizes       MRP SellPrice Discount  \
0      Size:Large,Medium,Small,X-Large,X-Small  Rs\n1699       849  50% off
1                             Size:34,36,38,40  Rs\n3499      2449  30% off
2                  Size:Large,X-Large,XX-Large  Rs\n1199       599  50% off
3              Size:Large,Medium,Small,X-Large  Rs\n2299      1379  40% off
4                       Size:26,28,30,32,34,36  Rs\n1699       849  50% off
...                                        ...       ...       ...      ...
30753                                      Nan       Nan      8950      Nan
30754                                      Nan       Nan       Nan      Nan
30755                                      Nan  Rs\n1839       643  65% off
30756                                      Nan       Nan      2799      Nan
30757                                      Nan       Nan      1899      Nan

                Category
0      Westernwear-Women
1      Westernwear-Women
2      Westernwear-Women
3      Westernwear-Women
4      Westernwear-Women
...                  ...
30753    Jewellery-Women
30754    Jewellery-Women
30755    Jewellery-Women
30756    Jewellery-Women
30757    Jewellery-Women

[30758 rows x 8 columns]>

In [5]:
data.columns

Index(['Unnamed: 0', 'BrandName', 'Deatils', 'Sizes', 'MRP', 'SellPrice',
       'Discount', 'Category'],
      dtype='object')

In [12]:
data.dtypes

Unnamed: 0     int64
BrandName     object
Deatils       object
Sizes         object
MRP           object
SellPrice     object
Discount      object
Category      object
dtype: object

In [37]:
data.isna()

,Unnamed: 0,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
30753,False,False,False,False,False,False,False,False
30754,False,False,False,False,False,False,False,False
30755,False,False,False,False,False,False,False,False
30756,False,False,False,False,False,False,False,False
30757,False,False,False,False,False,False,False,False

In [16]:
data.value_counts()

Unnamed: 0  BrandName    Deatils                                                  Sizes                                                       MRP       SellPrice  Discount  Category
22          Nan          Nan                                                      Nan                                                         Nan       Nan        Nan       Westernwear-Women           399
                                                                                                                                                                             Indianwear-Women            399
                                                                                                                                                                             Lingerie&Nightwear-Women    129
                                                                                                                                                                             Footwear-Women               99
                                                                                                                                                                             Jewellery-Women              69
                                                                                                                                                                                                        ...
8           high star    womens basic slim fit 5 pocket jeans - black             Size:30,32,34,36                                            Nan       2099       Nan       Westernwear-Women             1
            haute curry  womens regular fit printed tops - rust                   Size:Large,Medium,Small,X-Large,X-Small,XX-Large            Rs\n799   399        50% off   Indianwear-Women              1
                         womens regular fit printed tops - red                    Size:Large,Medium,Small,X-Large,X-Small,XX-Large,XXX-Large  Rs\n799   399        50% off   Indianwear-Women              1
                         womens regular fit printed dress - yellow                Size:Large,Medium,Small,X-Large,X-Small,XX-Large            Rs\n1299  649        50% off   Indianwear-Women              1
25          ziyaa        printed rayon round neck womens straight kurta - yellow  Size:Large,Medium,Small,X-Large,XX-Large,XXX-Large          Rs\n1752  700        60% off   Indianwear-Women              1
Length: 29427, dtype: int64

In [26]:
data.nunique()

Unnamed: 0       26
BrandName       275
Deatils       23877
Sizes          1172
MRP            1097
SellPrice      2046
Discount         66
Category          7
dtype: int64

In [51]:
data['MRP'].apply(lambda x:len(x))

0        7
1        7
2        7
3        7
4        7
        ..
30753    3
30754    3
30755    7
30756    3
30757    3
Name: MRP, Length: 30758, dtype: int64

In [52]:
data['MRPNew']=data['MRP'].apply(lambda x:x[3:7])
data['MRPNew']

0        1699
1        3499
2        1199
3        2299
4        1699
         ...
30753
30754
30755    1839
30756
30757
Name: MRPNew, Length: 30758, dtype: object

In [68]:
data['MRPNew'] = pd.to_numeric(data['MRPNew'])

TypeError: only size-1 arrays can be converted to Python scalars

In [69]:
data.groupby('Category').MRPNew.agg(['mean','max','min'])

                                 mean     max     min
Category
Footwear-Women            2740.432845  9999.0   492.0
Fragrance-Women           3786.695187  8000.0   420.0
Indianwear-Women          2818.304269  9999.0   399.0
Jewellery-Women           1965.326888  9995.0   198.0
Lingerie&Nightwear-Women  1261.089345  5290.0   171.0
Watches-Women             4787.413934  9995.0  1009.0
Westernwear-Women         2007.294757  8600.0   149.0